<h1>
    {{title}}
</h1>

<div class="container">
    <div class="alert" [class]="success ? 'alert success': 'alert danger'" [style.display]="showAlert ? 'block' : 'none'">
        <span class="closebtn" (click)="showAlert = false;">&times;</span> {{message}}
    </div>
    <div class="file-container">
        <input type="file" id="file" #file (change)="readFile(file)">
        <input type="button" class="danger" value="clear JSON" [disabled]="!isConverted" (click)="clear(file)">
        <!-- <input type="button" class="primary" value="copy JSON" [disabled]="!isConverted" (click)="copy()"> -->
    </div>
    <div class="json-container">
        <pre id="jsonViewer" *ngIf="response">{{response | json}}</pre>
        <input id="hiddenTxt" type="text" style="display:none;">
    </div>
</div>